.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

div.title h3 {
    margin-left: 10px;
}

h3 {
    font-size: 25px;
}

div.title img {
    float: left;
    border-radius: 5px;
}
