
.title{
    width: 100%;
    display: inline-block;
  }
div.title h3{
    float:left;
    font-size: 30px;
    line-height: 70px;
    margin-left: 10px;
    padding: 0;
    margin-top: 0;
}
h3{
    font-size: 30px;
    margin-top: 20px;
}
div.title img{
    float:left;
}
/* .education{
    border-bottom: 2px solid grey;
} */
