.footer {
    border-bottom: 1px solid var(--accent-color);
    color: var(--main-color);
   padding-bottom: 20px;
   
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important; */
}
.link-footer{
    color: var(--main-color);
         font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: 25px;
        padding: 10px 30px;
        letter-spacing: 0.5px;
    }
    .link-footer:hover{
        border: 2px solid var(--accent-color);
    
    }