.logo {
    width: 150px;
    height: fit-content;
}

.p {
    width: 150px;
    height: fit-content;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;


}

.header {
    /* margin-left: 1rem;
    line-height: 50px;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; */

    background-color: var(--main-color);
    border-bottom: 1px solid var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    margin-top: 0 !important;


}

.nav {
    width: var(--width);
    margin: 10px calc((100% - var(--width)) / 2);
    float: left;
}

.header.active {
    background-color: #FFFFFFD1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.header-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu {
    float: right;
    text-align: center;
    vertical-align: top;
}

.link {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 10px 30px;
    letter-spacing: 2px;
}

.link:hover {
    border: 2px solid var(--accent-color);

}

.link:focus {
    color: white;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);

}
.link-cv{
color:var(--accent-color);
font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 15px;
}
.link-cv:hover {
    color:var(--main-color);
  background-color: var(--accent-color);
}

.link-cv:focus {
    color:var(--main-color);
    background-color: var(--accent-color);
}