.hero-h1 {

    font-size: 80px;
    font-weight: 500;
    line-height: 1.05em;
    /* text-transform: capitalize; */
    color: black;

}

.hero-h4 {

    font-size: 40px;
    font-weight: 500;
    letter-spacing: 7px;
    line-height: 1.05em;



}

div.underline {
    border-bottom: 4px solid var(--accent-color);
    width: 290px;
}

h4 {
    border: 4px;
}

.thin {
    font-weight: 300;
    font-style: normal;
}

.small {
    font-weight: 300;
    font-size: 70px;
    font-style: normal;
}