
  .mobile-container {
    color: white;
    border-radius: 10px;
  }
  .logo{
    height:60px;
    width: auto;
  }
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: var(--dark-color);
    padding: 14px 16px;
    /* border-bottom: 1px solid var(--dark-color); */
    text-decoration:none;
    font-size: 17px;
    display: block;
    border-bottom: 2px solid transparent ;
  
  }
  
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
  
  }

  .mob-links a:hover {
    color: black;
   border-bottom: 2px solid var(--accent-color);
  }
  .topnav a.icon:hover {
    color:black;
    border:none;
  }