.portf-content {
    color: var(--light-color);
    /* font-weight: 600; */
    font-size: 18px;
    /* letter-spacing: 0,01em; */
}
.portf-img{
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px #000000;
}

ul{
    margin-left: 10px;
    margin-top: 10px;
    color: #dbdbdb;
    letter-spacing: 1px;
}
.align-center{
    display: flex;
    align-items: center;
}