.portf-content {
    color: #DDDDDD;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0,05em;
}
.portf-img{
    border-radius: 10px;
}
ul{
    margin-left: 10px;
    margin-top: 10px;
    color: #AAAAAA;
}
.align-center{
    display: flex;
    align-items: center;
}